*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background:#3b3b3d ;
    box-shadow: 10px 10px 20px #c2c2c9;
    padding: 15px 30px;
    width: 100%;
    position: fixed;
    border: none;
}
.nav_heading{
    font-size: 25px;
    font-weight: 1000;
    font-family: 'FontAwesome';
    color : #88ba7f;
}

.nav_buttons{
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    margin-left: 10px;
    background-color: #88ba7f;
    font-size: 14px;
    font-weight: 500;
}
.nav_buttons:hover{
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) ;
}


a{
    text-decoration: none;

}
@media (max-width: 768px) {
    .nav_buttons_recipe{
        display: none;
    }
    .nav_line{
        display: none;
    }
    .nav_icon{
        display: none;
    }
}
@media (min-width: 375px) {
    #detail{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
       
    }
    .detail_div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 85%;
        align-items: center;
        position: absolute;
        top: 70px;
    }
    img{
        width: 90%;
        height: 50vh; 
        margin: 15px 15px 15px 0px;
        border-radius: 50px;
    }
    .section_header{
        margin: 10px 10px;
    }
    .ingred{
        margin: 25px 0px 20px 10px;
    }
    ul{
       display: flex;
       justify-content: space-around;
       flex-direction: column;
       text-align: start;
    }
    
    
}
@media (min-width: 425px) {
    #detail{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
       
    }
    .detail_div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 85%;
        align-items: center;
        position: absolute;
        top: 70px;
    }
    img{
        width: 90%;
        height: 50vh; 
        margin: 15px 15px 15px 0px;
        border-radius: 50px;
    }
    .section_header{
        margin: 10px 10px;
    }
    .ingred{
        margin: 25px 0px 20px 10px;
    }
    ul{
       display: flex;
       justify-content: space-around;
       flex-direction: column;
       text-align: start;
    }

   
    
}
@media (min-width: 768px) {
    #detail{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
    .detail_div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 85%;
        align-items: center;
        position: absolute;
        top: 15px;
    }
    img{
        width: 80%;
        height: 50vh; 
        margin: 15px 15px 15px 0px;
        border-radius: 50px;
    }
    .nav_button{
        display: flex;
        justify-content:space-between;
        align-items: center;
        text-align: center;
        width: 30%;
    }
    .nav_line{
       
        display: none;
    }
    
    
}
@media (min-width: 1024px) {
    #detail{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
    .detail_div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 75%;
        align-items: center;
        position: absolute;
        top: 80px;
    }
    img{
        width: 80%;
        height: 50vh; 
        margin: 15px 15px 15px 0px;
        border-radius: 50px;
    }
    .nav_button{
        display: flex;
        justify-content:space-between;
        align-items: center;
        text-align: center;
        width: 20%;
    }
    
    
    
    
}
@media (min-width: 1440px) {
    #detail{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
 
    }
    .detail_div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 75%;
        height: 90vh;
        align-items: center;
    
    
    }
    img{
        width: 80%;
        height: 50vh; 
        margin: 15px 15px 15px 0px;
        border-radius: 50px;
    }
    .section_header{
        margin-bottom: 40px;
    }
    .nav_button{
        display: flex;
        justify-content:space-between;
        align-items: center;
        text-align: center;
        width: 15%;
    }
    
    .nav_line{
        border-left: 3px solid #88ba7f;
        padding: 14px;
    }
    
}
@media (min-width: 1536px) {
    #detail{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .detail_div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 75%;
        height: 100vh;
        align-items: center;
        padding-top: 30px;
    
    }
    img{
        width: 80%;
        height: 50vh; 
        margin: 15px 15px 15px 0px;
        border-radius: 50px;
    }
    .nav_button{
        display: flex;
        justify-content:space-between;
        align-items: center;
        text-align: center;
        width: 20%;
    }
    
}


/* CSS */
.button-37 {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;

  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  margin-right: 10px;
  margin-top: 15px;
}

.button-37:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-37 {
    padding: 10px 30px;
  }
}
.publisher{
    color: #007933;
}
h1{
    font-family: cursive;
    font-size: 35px;
}
h3{
    font-family: system-ui;
    margin-bottom: 10px;
}
li{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}